<p>Hello <%= @user.first_name %></p>

<p>A New job on Taff'On has been added and it's in your area!</p>
<p>Check our website: www.taffon.fr and apply now</p>
<p>Also, you can check the list of the other available jobs!</p>

<p>See you soon!</p>