<%# <p>Hello <%= user.first_name %>

<p>A New job on Taff'On has been added</p>
<p>Check our website: www.taffon.fr and apply now</p>
<p>Also, you can check the list of our events here: www.taffon.fr/events</p>

<p>See you soon!</p>