
<p>Hello <%= @user.first_name %>,</p>

<p>You just subscribed to www.taffon.fr</p>
<p>Now you can create an event and post jobs</p>
<p>Or if you are a technician, fill up your profile and find a job!</p>

<p>Good luck!!</p>