.banner-home {
height: 100vh;
background-size: cover;
}


.banner-home2{
height: 70vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;

}

.banner-home3 {
height: 100vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;

}

.tuto2 {
  height: 50px;
  width: 100vh;
  position: absolute;
  top: 15px;
  text-align: center;
}

.tuto3 {
  height: 50px;
  width: 100vh;
  position: absolute;
  top: 15px;
  text-align: center;
  color: white;
}

.args {
display: flex;
  position: absolute;

}

.arg1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  margin: 30px;
}

.icone{
font-size: 100px;
color: #337AB7;
}

.tag1{

}

.tag2{

}

.callto {
  position: absolute;
  top: 57vh;
}

.callto3 {
  position: absolute;
  top: 80vh;
}





















