.form-newevent {
    input[type="text"] {
        width: 50%;
        height: 39px;
    }

    .ap-input-icon {
        left: 300px;
        border: 0;
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        /* right: 50px; */
        outline: none;
    }
}

.corps {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    border: solid 0.5px black;
    border-radius: 10px;
}

.inlindedate {
    display: inline;

}