
.corps {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    border: solid 0.5px black;
    border-radius: 10px;
}

.inlindedate {
    display: flex;
    justify-content: space-around;
}

.boutoncreate {
    text-align: center;
    margin-top: 15px;
}