.form-newevent {
    input[type="text"] {
        width: 50%;
        height: 39px;
    }

    .ap-input-icon {
        left: 300px;
        border: 0;
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        /* right: 50px; */
        outline: none;
    }
}