.profile-container {
  min-height: calc(100vh - 70px - 100px - 90px)
}

.profile-container {
  background-color: white;
}

.card-product-description {
  width: 100%;
  padding: 20px;
  height: 100%;
}

#reviews-content {

}

.status {
  // font-weight: bold;
  padding: 4px 16px;
  border-radius: 16px;
}

.btn-find-for-you {
  padding: 4px 10px;
  border-radius: 8px;
  background-color: $light-gray;
  font-size: 12px;
  font-weight: 400;
  width: 140px;
}

.accepted {
  background-color: green;
}
.pending, .open{
  background-color: orange;
}
.rejected {
  background-color: red;
}

.profile-event-card {
  padding: 10px 0px;
  background-color: white;
  border-radius: 3px;
  width: 100%;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 30px;

  h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

.event-details {
  i, p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 2px;
    margin-top: 0;
  }
}

.event-pic {
  width: 90px;
  height: 90px;
  border-radius: 0px;
  object-fit: cover;
  margin-top: 25px;
  margin-bottom: 10px;
}

.card-job-event {
  box-shadow: none;
  border: 1px solid $light-gray;
  color: $gray;
  &:hover {
    color: $gray;
    cursor: auto;
  }

  .card-product-infos:hover {
    cursor: pointer;
  }
}

.card-product-infos {
  min-width: 80px;
}

.modal-event-btn {
  background-color: none;
  border: none;
}

// Modal
.modal-tech-info{
  flex-direction: column-reverse;
}

.last_name {
  font-size: 14px;
  font-weight: lighter;
}

.tech-skill {
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  background-color: $blue;
  border-radius: 12px;
  color: white;
  padding: 4px 10px;
  margin: 4px;
}

.tech-info {
  padding-left: 20px;
}

.modal-card-link {
  color: $gray;
  &:hover {
    text-decoration: none;
  }
}

.profile-event-card-row {
  height: 100%;
}

.add-card, .add-btn {
  height: 60px;
  color: #ccc;
  font-style: italic;
  background-color: $light-gray;
  &:hover {
    cursor: pointer;
    color: #aaa;
  }
}
