<h1> List of Jobs</h1>


<% @jobs.each do |job| %>
  <ul>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <li><%= job.id %></li>
    <li><%= job.description %></li>
    <li><%= job.category %></li>
    <li><%= job.status %></li>
  </div>
  <br>
  <ul>
<% end %>

