<% if event.picture_url.blank? %>
  <div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('http://dev.myeventon.com/wp-content/uploads/2017/05/Event-Blogging-Strategies.jpg')">
<% else %>
  <div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= event.picture_url %>')">
<% end %>
    <div class="">
      <h3 class="text-center"><%= event.name %></h3>
    </div>
</div>

