<div class="event-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= event.picture_url %>')">
    <div class="">
      <h3 class="text-center"><%= event.name %></h3>
    </div>
</div>

