<div class="search-bar">
  <%= form_tag path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "ðŸ” Filter by skill, location..."
    %>
  <% end %>
</div>
