<div class="container pay-style">
  <div class="row">
      <h1>Commande # <%= @order.id %></h1>

      <h2>Votre paiment est bien effectué.</h2>
      <h3>Les SMS & les emails seront envoyés dans quelques instants.</h3>
      <ul>
        <li>Status: <%= @order.state %></li>
        <li>Prix payé: 5€</li>
      <ul>

  </div>
</div>