<h1>Order</h1>
<h2>Your payment has been processed!</h2>
<h3>SMS & Emails will be sent shortly to technicians in the area!</h3>
<ul>
  <li>Status: <%= @order.state %></li>
  <li>Item: <%= @order.job_sku %></li>
  <li>Amount: 5€</li>
<ul>