    <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/daeahsosj/image/upload/v1550825773/5.jpg">
        <div class="text-center" style="padding-top: 30vh;">
            <p style="color: white; font-size: 38px; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); font-weight: bold;">Avec Taff'On, trouvez au bon moment : <span id="banner-typed-text"></span></p>
            <p style="color: white; font-size: 24px;">Que vous soyez technicien ou organisateur d'évènements, Taff'On répond à votre besoin !</p>
            <div classe="list-inline" style="padding-top: 30px;">
            <a href="/profile"> <button type="button" class="btn btn-primary btn-lg" style="margin-right: 15px;">Poster une mission</button></a>
            <a href="/jobs"> <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 15px; color: #fff; ">Trouver une mission</button>
            </div></a>
        </div>
    </div>

    <div class="banner-home2" style="background-color: #F9FAFC;">
        <div class="tuto2">
            <h1><strong>Comment ça marche ?</strong></h1>
            <p>En quelques clics Taff'On vous procure l'aide temporaire dont votre évènement a besoin</p>
        </div>
        <div class="args">
            <div class="arg1">
                <div class="icone"><i class="far fa-calendar-alt"></i></div>
                <div class="tag1"><p>Créez un événement</p></div>
                <div class="tag2"><p>Décrivez votre besoin en quelques secondes</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="far fa-id-card"></i></div>
                <div class="tag1"><p>Trouvez la bonne personne</p></div>
                <div class="tag2"><p>Nos techniciens veulent travailler avec vous</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="fas fa-handshake"></i></div>
                <div class="tag1"><p>Retrouvez-vous sur place</p></div>
                <div class="tag2"><p>Show must go on!</p></div>
            </div>
        </div>
        <div class="callto"><a href="/organizer/events/new"><button type="button" class="btn btn-primary btn-lg">Créer un évènement</button></a></div>
    </div>




    <div class="banner-home3" style="background-image: url(https://res.cloudinary.com/daeahsosj/image/upload/e_grayscale/tech.jpg);">
        <div class="tuto3">
            <h1>Taff'On est le spécialiste du travail dans l'évènementiel</h1>
            <p>Trouvez dans l'urgence votre coéquipier spécialisé</p>
        </div>
        <div class="args-banner3">
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-video"></i></i></div>
                <div class="tag1"><p>Technicien vidéo</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-volume-up"></i></div>
                <div class="tag1"><p>Ingénieur du son</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-people-carry"></i></i></div>
                <div class="tag1"><p>Roaddy</p></div>
            </div>
        </div>

        <div class="args-banner3">
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-user-shield"></i></div>
                <div class="tag1"><p>Sécurité</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-user-astronaut"></i></div>
                <div class="tag1"><p>Costumes</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-chalkboard-teacher"></i></div>
                <div class="tag1"><p>Régisseur</p></div>
            </div>
        </div>
    </div>




    <div class="banner-home3" style="background-color: #F9FAFC;">
        <div class="tuto2">
            <h1><strong>Le moyen le plus sûr et le plus rapide d'être prévenu</strong></h1>
            <p>Pour ceux qui veulent être sur tous les plans </p>
        </div>
        <div class="args">
            <div class="arg1">
                <div class="icone"><i class="fas fa-sms"></i></div>
                <div class="tag1"><p>Alertes SMS</p></div>
                <div class="tag2"><p>Nos alertes SMS vous permettent d'accepter instantanément une offre d'emploi</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="fas fa-map-marked-alt"></i></div>
                <div class="tag1"><p>Géolocalisation</p></div>
                <div class="tag2"><p>Recevez des offres d'emploi à côté de chez vous</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="fas fa-list-alt"></i></div>
                <div class="tag1"><p>Planification</p></div>
                <div class="tag2"><p>Trouvez vos futurs employeurs</p></div>
            </div>
        </div>

        <div class="callto3"><a href="/jobs"><button type="button" class="btn btn-secondary btn-lg callto3">Je suis prêt à travailler</button></a></div>

    </div>


<div class="banner-home4" style="filter: grayscale(80%); background-image: url(https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80";>
    <div class="tuto4">
        <h1>Qu'en disent nos utilisateurs ?</h1>
    </div>
    <div class="reviews-home">
        <div class="notification">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
            <div class="notification-content">
                <p><small>David</small></p>
                <p>Plus jamais en galère de techniciens depuis que j'ai découvert <strong>Taff'On</strong> ! </p>
            </div>
            </div>

            <div class="notification">
            <img src='https://res.cloudinary.com/daeahsosj/image/upload/v1551884239/fred.png' class="avatar-large"/>
            <div class="notification-content">
                <p><small>Fred</small></p>
                <p>Avant, j'avais du mal à trouver des heures de travail, maintenant, je suis sûr de valider mon statut d'intermittent du spectacle <strong>avant la fin de l'année !</strong></p>
            </div>
        </div>

        <div class="notification">
            <img src='https://res.cloudinary.com/daeahsosj/image/upload/v1551884239/lea.png' class="avatar-large"/>
            <div class="notification-content">
                <p><small>Léa</small></p>
                <p>Avant <strong>Taff'On</strong>, je passais trop de temps à appeler tout mon répértoire pour remplacer du personnel absent.</p>
            </div>
        </div>
    </div>
</div>

