    <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/daeahsosj/image/upload/v1550825773/5.jpg">
        <div class="text-center" style="padding-top: 30vh;">
            <p style="color: white; font-size: 38px; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); font-weight: bold;">On Taff'On, find <span id="banner-typed-text">the right technician</span> in the <strong>right time</strong>!</p>
            <p style="color: white; font-size: 24px;">Whether you are a technician or an event organizer, Taff'On will help you do the job!</p>
            <div classe="list-inline" style="padding-top: 30px;">
                <button type="button" class="btn btn-primary btn-lg" style="margin-right: 15px;">Créer un évènement</button>
                <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 15px;">Trouver une mission</button>
            </div>
        </div>
    </div>

    <div class="banner-home2" style="background-color: #F9FAFC;">
        <div class="tuto2">
            <h1>Comment ca marche ?</h1>
            <p>En quelques clics StaffMe vous procure l'aide temporaire dont votre entreprise a besoin</p>
        </div>
        <div class="args">
            <div class="arg1">
                <div class="icone"><i class="far fa-calendar-alt"></i></div>
                <div class="tag1"><p>Créez un événement</p></div>
                <div class="tag2"><p>Décrivez votre besoin en quelques secondes</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="far fa-id-card"></i></div>
                <div class="tag1"><p>Trouvez la bonne personne</p></div>
                <div class="tag2"><p>Nos techniciens veulent travailler avec vous</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="fas fa-handshake"></i></div>
                <div class="tag1"><p>Retrouvez-vous sur place</p></div>
                <div class="tag2"><p>The show must go on</p></div>
            </div>
        </div>
        <div class="callto"><button type="button" class="btn btn-primary btn-lg">Créer un évènement</button></div>
    </div>




    <div class="banner-home3" style="background-image: url(https://res.cloudinary.com/daeahsosj/image/upload/e_grayscale/tech.jpg);">
        <div class="tuto3">
            <h1>Staff'On est le spécialiste du travail dans l'évènementiel</h1>
            <p>Trouvez dans l'urgence votre coéquipier spécialisé</p>
        </div>
        <div class="args-banner3">
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-video"></i></i></div>
                <div class="tag1"><p>Technicien vidéo</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-volume-up"></i></div>
                <div class="tag1"><p>Ingénieur du son</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-people-carry"></i></i></div>
                <div class="tag1"><p>Roaddy</p></div>
            </div>
        </div>

        <div class="args-banner3">
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-user-shield"></i></div>
                <div class="tag1"><p>Sécurité</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-user-astronaut"></i></div>
                <div class="tag1"><p>Costumes</p></div>
            </div>
            <div class="arg-banner3">
                <div class="icone-banner3"><i class="fas fa-chalkboard-teacher"></i></div>
                <div class="tag1"><p>Régisseur</p></div>
            </div>
        </div>
    </div>




    <div class="banner-home3" style="background-color: #F9FAFC;">
        <div class="tuto2">
            <h1>Le moyen le plus sûr et le plus rapide d'être prévenu</h1>
            <p>Pour ceux qui veulent être sur tous les plans </p>
        </div>
        <div class="args">
            <div class="arg1">
                <div class="icone"><i class="fas fa-sms"></i></div>
                <div class="tag1"><p>Alertes SMS</p></div>
                <div class="tag2"><p>Nos alertes SMS vous permettent d'accepter instantanement une offre d'emploi</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="fas fa-map-marked-alt"></i></div>
                <div class="tag1"><p>Géolocaliastion</p></div>
                <div class="tag2"><p>Recevez des offres d'emploi à côté de chez vous</p></div>
            </div>
            <div class="arg1">
                <div class="icone"><i class="fas fa-list-alt"></i></div>
                <div class="tag1"><p>Planification</p></div>
                <div class="tag2"><p>Parcourez la liste des emplois à venir et postulez-y</p></div>
            </div>
        </div>
        <div class="callto3"><button type="button" class="btn btn-primary btn-lg callto3">Je suis prêt à travailler</button></div>
    </div>


    <div class="banner-home4" style="filter: grayscale(80%); background-image: url(https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80";>
        <div class="tuto4">
            <h1>Ce qu'en disent nos travailleurs</h1>
            <p></p>
        </div>
        <div class="reviews-home">
            <div class="notification">
                <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
                <div class="notification-content">
                    <p><small>14th January</small></p>
                    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
                </div>
             </div>

                <div class="notification">
                <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
                <div class="notification-content">
                    <p><small>14th January</small></p>
                    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
                </div>
             </div>

            <div class="notification">
                <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
                <div class="notification-content">
                    <p><small>9th January</small></p>
                    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
                </div>
            </div>
        </div>
     </div>
