/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 2;
  position: absolute;
  width: 100vw;
  top: 70px;
  height: 56px;
  border: 0px solid;
  opacity: 0.9;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
