/* Your profile header CSS code here */
.profile-header-wrapper {
  background-color: #2a004d;
  text-align: center;
}

.profile-header-infos {
  color: white;
  padding: 40px 0;
}

.profile-header-infos h2 {
  color: #ddb3ff;
  font-weight: normal;
  font-size: 18px;
}

.tab {
  flex: 1 1 auto;
}

.tab:first-child {
  border-radius: 10px 0 0 0; /* clockwise starting top-left*/
}
.tab:last-child {
  border-radius: 0 10px 0 0; /* clockwise starting top-left*/
}

.tab {
  background-color: #f4e6ff;
}

.tab:hover {
  background-color: #e8ccff;
}

.active {
  background-color: white;
}

.active:hover {
  background-color: #e6e6e6;
}
