// body {
//   display: block;
//   min-height: calc(100vh - 70px - 100px);
// }

.footer-area {
  padding: 0 !important;
}

.event_picture {
  display: none;
}

.label_photo {
  width: 150px;
  height: 150px;
  display: block;
  background-position: center;
  background-size: cover;
}